.banner
{
    width: 100%;
    height: 100vh;
    background-image: url('../asset/Apple Item.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.bannerColor
{
    position: absolute;
    width:100%;
    height: 100%;
    background-color: var(--black);
    opacity: 70%;
}

.bannerGradent
{
    position: absolute;
    width:100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.introBox
{
    position:absolute;
    width: 80%;
    top: 35%;
    left: 0;
    right: 0;
    min-width: 350px;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    font-family: var(--Noto-Sans);
    animation-name: IntroBox;
    animation-duration: 1s;
}

.mainText
{
    color: var(--white);
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5em;
}

.subText
{
    margin-top: 16px;
    color: var(--gray);
    font-size: 16px;
    font-weight: 500;
}

.bannerLine
{
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
    display: block;
}

.introItem
{
    color: var(--gray);
    font-size: 14px;
}

.getProductBtn
{
    margin-top: 5vh;
    width: 200px;
    padding: 10px;
    border-radius: 24px;
    background: none;
    border: 2px solid var(--gray);
    color: var(--gray);
    font-family: var(--Noto-Sans);
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
}

.getProductBtn:hover
{
    border: 2px solid var(--white);
    color: var(--white);
}

@media screen and (min-width: 769px) {
    .mainText
    {
        font-size: 36px;
    }

    .subText
    {
        font-size: 24px;
        margin-top: 15px;
    }

    .introItem
    {
        margin-top: 10px;
        font-size: 20px;
    }

    .getProductBtn
    {
        width: 250px;
        border-radius: 32px;
        font-size: 24px;
    }
}

@keyframes IntroBox {
    from {
        opacity: 0%;
        top: 60%;
    }

    to {
        opacity: 100%;
        top: 35%;
    }
    
}