@import url('./setup.css');

.header
{
    position: fixed;
    top: 0;
    width: 92%;
    padding-top : 10px;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 10px;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--Noto-Sans);
    z-index: 500;
}

.logo
{
    width: 24px;
    height: 30px;
    padding: 0;
    cursor: pointer;
}

.menuBars, .userIcon
{
    color: var(--gray);
    font-size: 24px;
    cursor: pointer;
}

.sideMenu
{
    top: 0;
    left: 0;
    position: fixed;
    width: 95%;
    background-color: var(--white);
    opacity: 95%;
    height: 100vh;
    border-radius: 0px 20px 20px 0px;
    animation-name: sideMenu;
    animation-duration: 0.4s;
    color: var(--darkGray);
}

.sideMenuTitle
{
    font-weight: 700;
}

.sideMenuHeader
{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
}

.closeSideMenu
{
    cursor: pointer;
    font-size: 28px;
    transition: 0.4s;
}

.sideMenuList
{
    display: flex;
    flex-flow: column;
    padding-left: 30px;
    height: 70vh;
    justify-content: space-evenly;
}

.sideMenuItem
{
    text-decoration: none;
    font-size: 20px;
    color: var(--darkGray);
    font-weight: 500;
    cursor: pointer;
    transition: 0.4s;
}

.menuItem
{
    color: var(--gray);
    font-weight: 200;
    text-decoration: none;
    display: none;
    font-size: 16px;
    font-family: var(--Noto-Sans);
    transition: 0.4s;
}

.menuItem:hover{
    color: var(--white);
}

.userMenu
{
    position: fixed;
    top: 70px;
    right: 2%;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid var(--gray);
    background-color: var(--white);
    animation-name: padeInUserMenu;
    animation-duration: 0.3s;
}


.userMenuItem
{
    font-size: 16px;
    display: block;
    margin: 20px;
    color: var(--darkGray);
    text-decoration: none;
    transition: 0.3s;
}

.menuIcon
{
    margin-right: 10px;
}

.sideMenuItem:hover, .userMenuItem:hover, .closeSideMenu:hover
{
    color: #4f56bd;
}

@media screen and (min-width: 769px) {
    .sideMenu, .menuBars
    {
        display: none;
    }

    .menuItem
    {
        display: inline-block;
    }
}


@media screen and (min-width: 1024px) {  
    
}



@media screen and (min-width: 1200px) {
	
}

@keyframes sideMenu
{
    from
    {
        opacity: 0%;
        left: -50%;
    }

    to
    {
        opacity: 99%;
        left: 0;
    }
}

@keyframes padeInUserMenu 
{
    from
    {
        opacity: 0%;
        top: 50px;
    }

    to
    {
        opacity: 99%;
        top: 70px;
    }  
}