@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

:root
{
    --Noto-Sans: 'Noto Sans KR';
    --gray: #c0c0c0;
    --darkGray: #4b4b4b;
    --black: #0e0e0e;
    --white: #f7f7f7;
}